.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 20px;
  min-height: 100vh;


  .article {
    animation: fadeIn 0.3s ease-in-out 1;
    will-change: opacity, transform;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(50vh);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 1.25rem;
    margin-bottom: 1rem;
  }

  p {
    max-width: 800px;
    text-align: left;
    margin-top: 1rem;
  }

  pre {
    background-color: #2e2e2e;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    color: #e1b970;
  }

  img {
    max-width: 100%;
    border-radius: 5px;
  }

  a{
    color: #a4ff9c;
    text-decoration: none;
    font-weight: 700;
  }
}