@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
    @media screen and (max-width: 768px) {
        .page {
            padding: 1rem 1rem;
        }
    }

    @media screen and (min-width: 768px) {
        .page {
            padding: 2rem 2rem;
        }
    }
}
